# Archivo de servicio de arranque automatico de Claymore 2020
[Unit]
Description=Arranque de Servicio de Claymore AMD GPU 2020
After = network.target

[Service]
Type=forking
User=root
Group=root
WorkingDirectory=/root
ExecStart=/usr/bin/screen -d -m -S clay /datos/claymore/Ethereum-ethermine.bash
ExecStop=/usr/bin/killall -2 ethdcrminer64

[Install]
WantedBy=multi-user.target
