# Archivo de servicio de arranque automatico de Claymore 2020
[Unit]
Description=Arranque de Servicio de PhoenixMiner AMD GPU 2020
After = network.target

[Service]
Type=forking
User=root
Group=root
WorkingDirectory=/root
ExecStart=/usr/bin/screen -d -m -S phoenix /root/phoenixminer/start_miner_croe01.sh
ExecStop=/usr/bin/killall -2 PhoenixMiner

[Install]
WantedBy=multi-user.target
