# Archivo de servicio de arranque automatico de PhoenixMiner 2020
[Unit]
Description=Arranque de Servicio de PhoenixMiner AMD GPU 2020
After = network.target

[Service]
Type=forking
User=root
Group=root
WorkingDirectory=/root
ExecStartPre=/usr/bin/sleep 20
ExecStart=/usr/bin/screen -d -m -S phoenix /datos/phoenixminer/Ethereum-ethermine.sh
ExecStop=/usr/bin/killall -2 PhoenixMiner

[Install]
WantedBy=multi-user.target